:root{
    --primary-100: #99cef4;
    --primary-300: #3887BE;
    --primary-500: #38419D;
    --primary-700: #200E3A;

    --neutral-100: rgb(245, 245, 245);
    --neutral-500: #d5d5da;
    --neutral-900: #0c0c0c;
}